[Unit]
Description=my work service
After=network.target

[Service]
ExecStart=/home/user/Documents/user.sh
RestartSec="30s"

[Install]
WantedBy=multi-user.target


